In [1]:
import pandas as pd

In [28]:
df = pd.read_parquet("data/itineraries_snappy.parquet", engine="pyarrow", columns=["searchDate", "flightDate", "startingAirport", "destinationAirport","travelDuration", "isBasicEconomy", "isRefundable", "isNonStop", "totalFare", "seatsRemaining", "totalTravelDistance","segmentsDepartureTimeRaw", "segmentsArrivalTimeRaw", "segmentsAirlineCode", "segmentsCabinCode"]).iloc[:100]

In [29]:
df.head()

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,seatsRemaining,totalTravelDistance,segmentsDepartureTimeRaw,segmentsArrivalTimeRaw,segmentsAirlineCode,segmentsCabinCode
0,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,False,True,248.6,9,947.0,2022-04-17T12:57:00.000-04:00,2022-04-17T15:26:00.000-04:00,DL,coach
1,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,4,947.0,2022-04-17T06:30:00.000-04:00,2022-04-17T09:00:00.000-04:00,DL,coach
2,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,9,947.0,2022-04-17T11:35:00.000-04:00,2022-04-17T14:05:00.000-04:00,DL,coach
3,2022-04-16,2022-04-17,ATL,BOS,PT2H32M,False,False,True,248.6,8,947.0,2022-04-17T13:59:00.000-04:00,2022-04-17T16:31:00.000-04:00,DL,coach
4,2022-04-16,2022-04-17,ATL,BOS,PT2H34M,False,False,True,248.6,9,947.0,2022-04-17T09:59:00.000-04:00,2022-04-17T12:33:00.000-04:00,DL,coach

In [30]:
df.searchDate = pd.to_datetime(df.searchDate)
df.flightDate = pd.to_datetime(df.flightDate)

In [31]:
extracted = df['travelDuration'].str.extract(r'PT(?:(\d+)H)?(?:(\d+)M)?').fillna(0).astype(int)

df['minutes'] = extracted[0].to_numpy() * 60 + extracted[1].to_numpy()

In [32]:
df[df['totalTravelDistance'].isna()]

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,seatsRemaining,totalTravelDistance,segmentsDepartureTimeRaw,segmentsArrivalTimeRaw,segmentsAirlineCode,segmentsCabinCode,minutes
15,2022-04-16,2022-04-17,ATL,BOS,PT5H39M,False,False,False,290.58,0,NaN,2022-04-17T05:26:00.000-04:00||2022-04-17T08:0...,2022-04-17T07:20:00.000-04:00||2022-04-17T11:0...,NK||NK,coach||coach,339
25,2022-04-16,2022-04-17,ATL,BOS,PT12H19M,False,False,False,311.58,0,NaN,2022-04-17T13:54:00.000-04:00||2022-04-17T23:1...,2022-04-17T15:45:00.000-04:00||2022-04-18T02:1...,NK||NK,coach||coach,739
61,2022-04-16,2022-04-17,ATL,DEN,PT10H32M,False,False,False,194.58,0,NaN,2022-04-17T05:26:00.000-04:00||2022-04-17T11:3...,2022-04-17T07:20:00.000-04:00||2022-04-17T13:5...,NK||NK,coach||coach,632
91,2022-04-16,2022-04-17,ATL,DEN,PT8H28M,False,False,False,311.58,0,NaN,2022-04-17T07:30:00.000-04:00||2022-04-17T11:3...,2022-04-17T09:24:00.000-04:00||2022-04-17T13:5...,NK||NK,coach||coach,508
92,2022-04-16,2022-04-17,ATL,DEN,PT11H6M,False,False,False,311.58,0,NaN,2022-04-17T13:54:00.000-04:00||2022-04-17T20:3...,2022-04-17T15:45:00.000-04:00||2022-04-17T23:0...,NK||NK,coach||coach,666
95,2022-04-16,2022-04-17,ATL,DFW,PT2H30M,False,False,True,168.59,0,NaN,2022-04-17T21:57:00.000-04:00,2022-04-17T23:27:00.000-05:00,NK,coach,150

In [33]:
from sklearn.impute import SimpleImputer

In [34]:
imputer = SimpleImputer(strategy='mean')

df['totalTravelDistance'] = imputer.fit_transform(df[['totalTravelDistance']]).astype(int)

In [35]:
df.head()

,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isRefundable,isNonStop,totalFare,seatsRemaining,totalTravelDistance,segmentsDepartureTimeRaw,segmentsArrivalTimeRaw,segmentsAirlineCode,segmentsCabinCode,minutes
0,2022-04-16,2022-04-17,ATL,BOS,PT2H29M,False,False,True,248.6,9,947,2022-04-17T12:57:00.000-04:00,2022-04-17T15:26:00.000-04:00,DL,coach,149
1,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,4,947,2022-04-17T06:30:00.000-04:00,2022-04-17T09:00:00.000-04:00,DL,coach,150
2,2022-04-16,2022-04-17,ATL,BOS,PT2H30M,False,False,True,248.6,9,947,2022-04-17T11:35:00.000-04:00,2022-04-17T14:05:00.000-04:00,DL,coach,150
3,2022-04-16,2022-04-17,ATL,BOS,PT2H32M,False,False,True,248.6,8,947,2022-04-17T13:59:00.000-04:00,2022-04-17T16:31:00.000-04:00,DL,coach,152
4,2022-04-16,2022-04-17,ATL,BOS,PT2H34M,False,False,True,248.6,9,947,2022-04-17T09:59:00.000-04:00,2022-04-17T12:33:00.000-04:00,DL,coach,154

In [36]:
df['segmentsDepartureTimeRaw'] = df['segmentsDepartureTimeRaw'].replace('', pd.NA)
df['segmentsArrivalTimeRaw'] = df['segmentsArrivalTimeRaw'].replace('', pd.NA)

df['segmentsDepartureTimeRaw'] = df['segmentsDepartureTimeRaw'].str.split('||').str[0]
df['segmentsArrivalTimeRaw'] = df['segmentsArrivalTimeRaw'].str.split('||').str[0]

df['segmentsDepartureTimeRaw'] = df['segmentsDepartureTimeRaw'].str.strip()
df['segmentsArrivalTimeRaw'] = df['segmentsArrivalTimeRaw'].str.strip()

df['segmentsDepartureTimeRaw'] = pd.to_datetime(df['segmentsDepartureTimeRaw'], errors='coerce', utc=True)
df['segmentsArrivalTimeRaw'] = pd.to_datetime(df['segmentsArrivalTimeRaw'], errors='coerce', utc=True)

df['departure_hour'] = df['segmentsDepartureTimeRaw'].dt.hour
df['arrival_hour'] = df['segmentsArrivalTimeRaw'].dt.hour

print(df[['segmentsDepartureTimeRaw', 'departure_hour', 'segmentsArrivalTimeRaw', 'arrival_hour']].head())

  segmentsDepartureTimeRaw  departure_hour segmentsArrivalTimeRaw  \
0                      NaT             NaN                    NaT
1                      NaT             NaN                    NaT
2                      NaT             NaN                    NaT
3                      NaT             NaN                    NaT
4                      NaT             NaN                    NaT

   arrival_hour
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

In [5]:
average_seats_remaining = df[('seatsRemaining')].mean()
print(average_seats_remaining)

5.976311522528228

In [15]:
df.segmentsDepartureAirportCode.unique()

array(['ATL', 'ATL||CLT', 'ATL||IAD', ..., 'DTW||ITH', 'JFK||ROC||BOS',
       'ONT||DEN||MCO'], dtype=object)

In [13]:
df.segmentsCabinCode.unique()

array(['coach', 'coach||coach', 'coach||coach||coach||coach',
       'coach||coach||coach', 'first', 'premium coach', 'first||coach',
       'business', 'premium coach||premium coach', 'first||first',
       'coach||premium coach', 'coach||first', 'first||coach||coach',
       'business||first||first', 'business||coach||coach',
       'business||coach', 'business||business||coach',
       'coach||business||business', 'business||coach||business',
       'premium coach||premium coach||coach', 'coach||business',
       'coach||coach||business', 'business||business',
       'coach||coach||first||coach', 'premium coach||coach',
       'first||first||first', 'coach||first||first',
       'coach||coach||first', 'coach||first||coach',
       'coach||business||coach', 'coach||coach||premium coach',
       'premium coach||coach||coach', 'first||first||coach',
       'coach||premium coach||coach',
       'coach||coach||coach||premium coach', 'business||first',
       'premium coach||business||coach', 'coach||coach||coach||first',
       'coach||coach||first||first',
       'coach||premium coach||premium coach',
       'first||coach||coach||coach', 'first||coach||first',
       'first||business', 'coach||coach||business||coach',
       'first||coach||business', 'coach||business||first',
       'premium coach||premium coach||premium coach',
       'premium coach||first', 'premium coach||coach||coach||coach',
       'coach||coach||premium coach||premium coach',
       'first||first||coach||coach', 'coach||coach||premium coach||coach',
       'business||business||business',
       'first||premium coach||premium coach', 'first||premium coach',
       'first||business||coach', 'business||coach||coach||coach',
       'coach||first||business', 'first||business||first',
       'coach||premium coach||coach||coach',
       'coach||coach||coach||coach||coach',
       'coach||premium coach||premium coach||premium coach',
       'coach||coach||premium coach||premium coach||premium coach',
       'first||first||premium coach', 'coach||coach||coach||business',
       'coach||first||premium coach', 'premium coach||first||coach',
       'premium coach||first||first',
       'premium coach||coach||coach||first',
       'coach||premium coach||first', 'first||premium coach||coach'],
      dtype=object)

In [14]:
mask_mixed_cabin = df['segmentsCabinCode'].str.contains(r'first.*\|\|.*(coach|business|premium coach)|'
                                                         r'coach.*\|\|.*(first|business|premium coach)|'
                                                         r'business.*\|\|.*(first|coach|premium coach)|'
                                                         r'premium coach.*\|\|.*(first|coach|business)',
                                                         regex=True)

percent_mixed_cabin = (mask_mixed_cabin.sum() / len(df)) * 100

print(f"Percentage of entries with mixed cabins: {percent_mixed_cabin:.2f}%")

/var/folders/k2/h0jvj1b548l9_206_d8lb3yw0000gn/T/ipykernel_98555/554970052.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask_mixed_cabin = df['segmentsCabinCode'].str.contains(r'first.*\|\|.*(coach|business|premium coach)|'

Percentage of entries with mixed cabins: 0.14%